/* slick.css */
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css');

.card:hover .slick-list {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }